.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.item {
    flex: 1 1 300px;
    max-width:100%;
    text-align: center;
}





#logo {
    max-width: 100%;
    height: auto;
    position: absolute; /*تثبيت في الشاشة*/
    top: 14.2%; /*من الاعلى*/
    right: 0%;/*من اليمين*/
    margin:0 auto;
    display:  block;
}


body {
margin: 0%;
padding: 0%;
min-height: 100%;
font-family: Arial, Helvetica, sans-serif;
color: aliceblue;
background: 
radial-gradient(circle at 20% 20%, rgb(165, 21, 100), transparent 40%),
radial-gradient(circle at 80% 80%, rgb(114, 21, 106), transparent 40%),
radial-gradient(circle at 50% 50%, rgb(17, 141, 79), transparent 20%),
radial-gradient(circle at 60% 60%, rgb(114, 21, 106), transparent 40%),
linear-gradient(135deg, #0f268f, #0b92ad);
background-attachment: fixed;
background-size: 200% 200%;

animation: moveBG 20s linear infinite;
}
@keyframes moveBG {
    0% { background-position: 0% 0%; }
    50% {background-position: 100% 100%; }
    100% {background-position: 0% 0%; }
}

h1 {
    font-size: 45.9px;
    font-weight: 700;
    color: #fdfdfdb6;
    text-align: center;
    letter-spacing: 3px;
    margin-bottom: 20px;
}
h1::after {
    content: " ";
    display: block;
    width: 230px;
    height: 6px;
    background: #4a0e58cc;
    margin: 4px auto 0;
    border-radius: 4px;
}


h2 {
    display: block;
    width: max-content;
    margin: 0 auto;
    background-color: #3b04479c;/*خلفية نص شفافة*/
    padding: 3px 10px;
    border-radius: 5px;

}
.text-box item {
     color: rgb(253, 253, 252); /*لون النص*/
    color: (233, 233, 233, 0.589); /*لون النص*/
     background-color:#5f1a6ea1 ;/*خلفية نص شفافة*/
     padding: 5px 15px; /*مساحة حول النص*/
     border-radius: 2px; /*زواية مدورة للخلفية*/
     
     
}
.cv-button item {
    display: inline-flex;
    background-color: #3c024ba2;
    color: azure;
    padding: 12px 25px;
    text-decoration: unset;
    font-weight: bold;
    border-radius: 12px;
    box-shadow: 4px 8px 16px rgba(red, rgb(143, 10, 121), blue, alpha);
    transition: all 0.3s ease;
    border: none;
    cursor: pointer;
    margin: 20px 0;
    
}
.cv-button:hover {
    background-color:#4c0c6149 ;
    transform: translateY(8px);
    box-shadow: 8px 8px 12px rgba(62, 10, 129, 0.911);
}
.cv-button:active {
    transform: translateY(-10px);
    box-shadow: 0 7px 15px rgba(77, 5, 99, 0.911);
}
.center-btn item {
    display: flex;
    justify-content: center;
}

.p2 {
     color: antiquewhite; /*لون النص*/
    background-color: hsla(300, 91%, 17%, 0.842);/*خلفية نص شفافة*/
    padding: 5px 10px; /*مساحة حول النص*/
    border-radius: 5px;
    display: inline-block;
}
.logos item {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 5px;
    max-widht: 100%;
    
}

.logos img {
width: 60px;
height: 60px;
border-radius: 10px;
transition: transform 0.3s;
}
.logos img:hover {
    transform: scale(1.2);
}


.word {
    display: inline-block;
    transition: transform 0,25s ease;
}

.word:hover {
    transform: scale(1.25);
}
body {
     margin: 0;
     min-height: 100vh;
     position: relative;
}

.description {
    
position: absolute;
top: 80%;
left: 50%;
transform: translate(-50%, -50%);
width: 600px;
text-align: center;
padding: 25px;
background:#6721779a ;
border-radius: 14px;
font-size: 18px;
line-height: 1.9;
}

body {
    font-family: 'cairo' , sans-serif;
}

.dropdown {
    position:absolute ;
    display: inline-block;
}

.dropbtn {
    background-color:#6721779a ;
    color: white;
    padding: 20px 20px;
    font-size: 16px;
    border: 15px;
    border-radius: 120px;
    cursor: pointer;
}

.dropbtn:hover {
    background-color:#6721779a ;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:#6721779a ;
    min-height: 200px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    border-radius: 10px;
    margin-top: 20px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
}

.dropdown-content a:hover {
    background-color:#6721779a ;
}


