body {
    margin: 0;
    padding: 40px 20px;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    text-align: center;

    background:
        radial-gradient(circle at 20% 20%, rgb(165, 21, 100), transparent 40%),
        radial-gradient(circle at 80% 80%, rgb(114, 21, 106), transparent 40%),
        linear-gradient(135deg, #0f268f, #0b92ad);

    background-size: 200% 200%;
    animation: moveBG 20s linear infinite;
}

@keyframes moveBG {
    0% { background-position: 0% 0%; }
    50% { background-position: 100% 100%; }
    100% { background-position: 0% 0%; }
}

img {
    max-width: 280px;   /* الحد الأقصى */
    width: 100%;        /* يتجاوب مع الشاشة */
    height: auto;
    border-radius: 16px;
    display: block;
    margin: 20px auto;
}

.word {
    display: inline-block;
    transition: 0.3s ease;
}

.word:hover {
    color: #00ffd5;
    transform: scale(1.2);
}

body {
    background: red !important;
}

