body {
    margin: 0%;
padding: 0%;
min-height: 100%;
font-family: Arial, Helvetica, sans-serif;
color: aliceblue;
background: 
radial-gradient(circle at 20% 20%, rgb(165, 21, 100), transparent 40%),
radial-gradient(circle at 80% 80%, rgb(114, 21, 106), transparent 40%),
radial-gradient(circle at 50% 50%, rgb(17, 141, 79), transparent 20%),
radial-gradient(circle at 60% 60%, rgb(114, 21, 106), transparent 40%),
radial-gradient(circle at 90% 90%, rgb(6, 189, 149), transparent 40%),
linear-gradient(135deg, #0f268f, #0b92ad);
background-attachment: fixed;
background-size: 200% 200%;

animation: moveBG 20s linear infinite;
}
@keyframes moveBG {
    0% { background-position: 0% 0%; }
    50% {background-position: 100% 100%; }
    100% {background-position: 0% 0%; }
}

img {
  width: 300px;
    height: auto;
    position: center; /*تثبيت في الشاشة*/
    top: 50%; /*من الاعلى*/
    left: 50px;/*من اليمين*/
    display: block;
    margin-left: 300px;
}

img {
    position: relative;
    width: 300px;
    overflow: hidden;
    border-radius: 16px;
}
