body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;

    background:
        radial-gradient(circle at 20% 20%, rgb(165, 21, 100), transparent 40%),
        radial-gradient(circle at 80% 80%, rgb(114, 21, 106), transparent 40%),
        radial-gradient(circle at 50% 50%, rgb(17, 141, 79), transparent 20%),
        radial-gradient(circle at 90% 90%, rgb(6, 189, 149), transparent 40%),
        linear-gradient(135deg, #0f268f, #0b92ad);

    background-attachment: fixed;
    background-size: 200% 200%;
    animation: moveBG 20s linear infinite;

    text-align: center;
    padding: 40px 20px;
}

@keyframes moveBG {
    0% { background-position: 0% 0%; }
    50% { background-position: 100% 100%; }
    100% { background-position: 0% 0%; }
}

.title {
    margin-bottom: 20px;
}

.intro {
    line-height: 1.6;
    max-width: 800px;
    margin: auto;
}

img {
    width: 300px;
    height: auto;
    margin: 40px auto;
    display: block;
    border-radius: 16px;
}

.description {
    max-width: 900px;
    margin: auto;
    line-height: 1.8;
}

.word {
    display: inline-block;
    transition: 0.3s;
}

.word:hover {
    color: #00ffd5;
    transform: scale(1.1);
}
